<!doctype html>
<html>
  <head>
    <title>Galeano</title>
    <link href="http://fonts.googleapis.com/css?family=Cutive+Mono&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="../fonts/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../styles/lib/codemirror.css">
    <link rel="stylesheet" href="../dist/main.css">
  </head>
  <body>

    <div class="background-wrapper">
      <div class="background background-simple"></div>
      <div class="background background-color-therapy"></div>
    </div>

    <ul class="menus">
      <ul class="menu-options" id="background-settings"></ul>
      <ul class="menu-options" id="background-track-settings"></ul>
    </ul>

    <div class="workspace">
      <textarea id="editor" class="editor">Type here...</textarea>
      <section id="preview" class="preview"></section>
    </div>

    <script src="../scripts/main.js" charset="utf-8"></script>
  </body>
</html>
