$header-font-sizes: (
  cm-header-1: 2em,
  cm-header-2: 1.75em,
  cm-header-3: 1.5em,
  cm-header-5: 1.2em,
  cm-header-6: 1.15em
);

@each $header-class, $font-size in $header-font-sizes {
  .cm-s-galeano .#{$header-class} {
    font-size: $font-size;
  }
  .cm-s-galeano-dark .#{$header-class} {
    font-size: $font-size;
  }
}

.cm-s-galeano {

  &.CodeMirror {
    background: transparent;
    border: 1px dashed transparent;
    border-radius: 2px;
    color: #636161;
    font-family: 'Inconsolata', monospace;
    height: 100%;
    margin: auto;
    transition: all 2s;
    width: 60%;

    &:hover {
      border: 1px dashed #999;
    }
  }

  .cm-quote {
   color: #90a959; font-style: italic;
  }

  div.CodeMirror-selected {
    background: #229aaf !important;
    color: #bccfce !important;
  }

  .CodeMirror-cursor {
    border-left: 1px solid #333 !important;
  }

  span.cm-variable {
    color: #0a7e82;
  }
  span.cm-variable-2 {
    color: #7262d5;
  }
  span.cm-variable-3 {
    color: #ee659b;
  }
  span.cm-link {
    color: #306d90;
  }
}

.cm-s-galeano-dark {
  color: white;

  &.CodeMirror {
    @extend .cm-s-galeano.CodeMirror;

    color: white;

    &:hover{
      border: 1px dashed #fff;
    }
  }

  .CodeMirror-cursor {
    border-left: 1px solid #fff !important;
  }
}
